@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pewugl');
  src:  url('fonts/icomoon.eot?pewugl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pewugl') format('truetype'),
    url('fonts/icomoon.woff?pewugl') format('woff'),
    url('fonts/icomoon.svg?pewugl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-sa-"], [class*=" icon-sa-"] {
  /* stylelint-disable-next-line */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sa-history::before {
  content: "\e957";
}
.icon-sa-achievements::before {
  content: "\e954";
}
.icon-sa-karrahe::before {
  content: "\e93c";
}
.icon-sa-student::before {
  content: "\e93d";
}
.icon-sa-teacher::before {
  content: "\e93e";
}
.icon-sa-test-outline::before {
  content: "\e93f";
}
.icon-sa-user-outline::before {
  content: "\e94b";
}
.icon-sa-flag::before {
  content: "\e94d";
}
.icon-sa-clock::before {
  content: "\e950";
}
.icon-sa-eye-peek-slash::before {
  content: "\e901";
}
.icon-sa-eye-peek::before {
  content: "\e90a";
}
.icon-sa-audio::before {
  content: "\e90c";
}
.icon-sa-gift::before {
  content: "\e919";
}
.icon-sa-lightning::before {
  content: "\e91c";
}
.icon-sa-lock::before {
  content: "\e91d";
}
.icon-sa-participant::before {
  content: "\e91f";
}
.icon-sa-price-tag::before {
  content: "\e922";
}
.icon-sa-test::before {
  content: "\e923";
}
.icon-sa-text::before {
  content: "\e925";
}
.icon-sa-timer::before {
  content: "\e926";
}
.icon-sa-trophy::before {
  content: "\e928";
}
.icon-sa-video::before {
  content: "\e92d";
}
.icon-sa-comment-fill::before {
  content: "\e921";
}
.icon-sa-share-fill::before {
  content: "\e949";
}
.icon-sa-table-of-contents-fill::before {
  content: "\e976";
}
.icon-sa-question::before {
  content: "\e916";
}
.icon-sa-behance::before {
  content: "\e947";
  color: #0057ff;
}
.icon-sa-color-linkedin::before {
  content: "\e953";
  color: #0a66c2;
}
.icon-sa-color-twitter::before {
  content: "\e965";
  color: #2aa9e0;
}
.icon-sa-color-youtube::before {
  content: "\e971";
  color: #f00;
}
.icon-sa-color-dribbble::before {
  content: "\e972";
  color: #ea4c89;
}
.icon-sa-facebook::before {
  content: "\e973";
  color: #1977f3;
}
.icon-sa-github::before {
  content: "\e974";
}
.icon-sa-color-telegram::before {
  content: "\e975";
  color: #02a8e2;
}
.icon-sa-collections::before {
  content: "\e955";
}
.icon-sa-forward-arrow::before {
  content: "\e96f";
}
.icon-sa-table-of-content::before {
  content: "\e970";
}
.icon-sa-arrow::before {
  content: "\e96e";
}
.icon-sa-update::before {
  content: "\e96d";
}
.icon-sa-report-flag::before {
  content: "\e96c";
}
.icon-sa-message::before {
  content: "\e96a";
}
.icon-sa-news::before {
  content: "\e96b";
}
.icon-sa-alarm-notification::before {
  content: "\e964";
}
.icon-sa-my-activity::before {
  content: "\e966";
}
.icon-sa-security-notification::before {
  content: "\e967";
}
.icon-sa-sokan-dash::before {
  content: "\e968";
}
.icon-sa-unlock-time::before {
  content: "\e969";
}
.icon-sa-competition::before {
  content: "\e900";
}
.icon-sa-medal::before {
  content: "\e902";
}
.icon-sa-credit::before {
  content: "\e960";
}
.icon-sa-content-text::before {
  content: "\e903";
}
.icon-sa-crown::before {
  content: "\e904";
}
.icon-sa-pencil::before {
  content: "\e905";
}
.icon-sa-pinned-text::before {
  content: "\e906";
}
.icon-sa-tick-accepted::before {
  content: "\e907";
}
.icon-sa-tick::before {
  content: "\e991";
}
.icon-sa-big-t::before {
  content: "\e908";
}
.icon-sa-skills::before {
  content: "\e946";
}
.icon-sa-quiz::before {
  content: "\e94c";
}
.icon-sa-helm-plus::before {
  content: "\e94f";
}
.icon-sa-pin::before {
  content: "\e958";
}
.icon-sa-my-writings::before {
  content: "\e95a";
}
.icon-sa-golden-tick::before {
  content: "\e95b";
}
.icon-sa-writing-words::before {
  content: "\e95c";
}
.icon-sa-fire::before {
  content: "\e952";
}
.icon-sa-group::before {
  content: "\e945";
}
.icon-sa-helm-blog::before {
  content: "\e941";
}
.icon-sa-helm-glossary::before {
  content: "\e942";
}
.icon-sa-helm-podcast::before {
  content: "\e943";
}
.icon-sa-helm-academy::before {
  content: "\e944";
}
.icon-sa-academy::before {
  content: "\e92c";
}
.icon-sa-book-and-clock::before {
  content: "\e933";
}
.icon-sa-bookmark::before {
  content: "\e90b";
}
.icon-sa-calendar::before {
  content: "\e934";
}
.icon-sa-caret-down::before {
  content: "\e92f";
}
.icon-sa-caret-left::before {
  content: "\e931";
}
.icon-sa-caret-right::before {
  content: "\e932";
}
.icon-sa-category::before {
  content: "\e930";
}
.icon-sa-close::before {
  content: "\e92a";
}
.icon-sa-comment::before {
  content: "\e935";
}
.icon-sa-course::before {
  content: "\e90d";
}
.icon-sa-dashboard::before {
  content: "\e90e";
}
.icon-sa-delete::before {
  content: "\e90f";
}
.icon-sa-dots-vertical::before {
  content: "\e909";
}
.icon-sa-download::before {
  content: "\e91e";
}
.icon-sa-edit-profile::before {
  content: "\e910";
}
.icon-sa-edit-profile-photo::before {
  content: "\e911";
}
.icon-sa-episode::before {
  content: "\e92b";
}
.icon-sa-eye::before {
  content: "\e936";
}
.icon-sa-eye-fill::before {
  content: "\e927";
}
.icon-sa-heading::before {
  content: "\e912";
}
.icon-sa-heart::before {
  content: "\e937";
}
.icon-sa-img::before {
  content: "\e913";
}
.icon-sa-info::before {
  content: "\e920";
}
.icon-sa-link-strong::before {
  content: "\e92e";
}
.icon-sa-link-attach::before {
  content: "\e951";
}
.icon-sa-listened::before {
  content: "\e91a";
}
.icon-sa-log-out::before {
  content: "\e917";
}
.icon-sa-login::before {
  content: "\e929";
}
.icon-sa-mark::before {
  content: "\e938";
}
.icon-sa-notification::before {
  content: "\e918";
}
.icon-sa-pause::before {
  content: "\e940";
}
.icon-sa-play::before {
  content: "\e939";
}
.icon-sa-reply::before {
  content: "\e91b";
}
.icon-sa-search::before {
  content: "\e93a";
}
.icon-sa-setting::before {
  content: "\e924";
}
.icon-sa-share::before {
  content: "\e93b";
}
.icon-sa-talk::before {
  content: "\e94e";
}
.icon-sa-user::before {
  content: "\e959";
}
.icon-sa-dribbble::before {
  content: "\e948";
}
.icon-sa-instagram-strong::before {
  content: "\e914";
}
.icon-sa-new-youtube::before {
  content: "\e94a";
}
.icon-sa-linkedin::before {
  content: "\e915";
}
.icon-sa-twitter::before {
  content: "\e956";
}
.icon-sa-whatsapp::before {
  content: "\e961";
}
.icon-sa-telegram::before {
  content: "\e984";
}
.icon-sa-aparat::before {
  content: "\e977";
}
