.mw-footer {
  z-index: 1000;
  box-shadow: 0px -3px 10px $primary;

  .instagram:hover{
    color: #F14E4B;
  }
  .linkedin:hover{
    color: #0072b1;
  }
  .github:hover{
    color: #171515;
  }
  .telegram:hover{
    color: #0088cc;
  }
}
