.mw-footer {
  z-index: 1000;
  box-shadow: 0px 8px 25px $primary;

  .bi-instagram:hover {
    color: #f14e4b;
  }
  .bi-linkedin:hover {
    color: #0072b1;
  }
  .bi-twitter:hover {
    color: #00acee;
  }
  .bi-telegram:hover {
    color: #0088cc;
  }
}
